.txt-rotate > .wrap { border-right: 0.08em solid #fff }

html {
	text-align: center;
}

body {
	background-color: #689b53;
}

ul {
	list-style-type: none;
	padding: 0;
}
a {
	color: black
}
.title {
	font-family:impact;
	font-style: bold;
	color: white;
	font-size: 8vw;
	text-align: center;
	display: inline;
}

#main-table {
	margin: auto;
	width: 60vw;
}

td {
	font-family: arial;
	color: white;
}

tr:not(.no-bg-color) > td:not(.no-bg-color) {
	background-color: rgba(225, 234, 219, 0.44);
}

tr:not(.no-bg-color) > td:not(.no-bg-color):hover {
	background-color: rgba(225, 234, 219, 0.7);
}

li > a{
	color: white;
	text-decoration: none;
	font-family: arial;
}

#mobile-select {
	display: none;
}

#nameSearch {
	margin-top: 4vh;
	display: none;
	background: none;
	color: #FFF;
	border: none;
	border-bottom: 2px solid green;
	text-align: center;
	width: 40vw;
	font-size: 16pt;
}

@media screen and (max-width: 600px) {
	#desktop-select {
		display: none;
	}
	#mobile-select {
		display: block;
	}
	td {
		height: 7vh;
	}
	table {
		border-spacing: 0.5vh;
	}
	#nameSearch {
		width: 70vw;
	}
}

#pamokos-pavadinimas {
	display: inline;

}

.nebera_pamoku a {
	color: #c1c1c1;
}

#day-select, #pamokos-select {
	width: 80vw;
	margin: auto;
}

#pamokos-select {
	display: none;
}

.mokytojas a {
	color: #28682A;
}

#nameSearch::placeholder {
	color: white;
	opacity: 1;
}

#useCounter {
	color: white;
	position: absolute;
	text-align: left;
	font-size: 12pt;
	left:20;
	bottom: 0;
}